{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% tailwind_css %}
    <style>
        ::-webkit-scrollbar {
            width: 0;  /* Remove scrollbar space */
            background: transparent;  /* Optional: just make scrollbar invisible */
        }

        input{
            -webkit-appearance: none;
        }
    </style>
</head>
<body class="p-0 m-0 bg-zinc-200">
    <header class="2xl:w-3/4 mx-auto h-20 px-6 relative z-10">
        <nav class="grid grid-cols-3 h-full items-center justify-between text-sm font-bold select-none">
            <div class="flex"></div>
            <div class="flex justify-center">
                <a href="/" class="text-white bg-zinc-900 rounded-full h-12 w-12 flex items-center justify-center transition ease-in-out duration-100">Pbj</a>
            </div>
            {% if user.is_authenticated %}
            <div class="flex justify-end">
                <a href="{% url 'app:signout' %}" class="border-2 border-zinc-700 py-2 px-3 rounded hover:rounded-3xl hover:bg-zinc-700 hover:text-white transition ease-in-out duration-300">Sign out</a>
            </div>
            {% else %}
                {% block nav %}
                {% endblock %}
            {% endif %}
        </nav>
    </header>
    {% block body %}
    {% endblock %}

    {% if user.is_authenticated %}
    <footer class="2xl:w-3/4 mx-auto h-20 px-6 flex items-center justify-center">
        <div class="text-sm font-bold">Created by PBJ</div>
    </footer>
    {% else %}
    <footer class="absolute w-full h-screen top-0 p-5 -z-10 flex items-end justify-center">
        <div class="text-sm font-bold">Created by PBJ</div>
    </footer>
    {% endif %}
    
</body>
</html>